<div class="container">
    <div class="row row-content">
        <div class="col-xs-12">
            <button class="btn btn-success marg-sm" ng-click="refreshCalendar()"><span class="glyphicon glyphicon-refresh"></span></button>

            <div ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="testCalendar"></div>

            <div class="pad-sm"></div>

            <button class="btn btn-lg btn-primary" ng-click="openAddEventModal()">Agregar Evento</button>
            <button class="btn btn-warning" ng-click="btnTest()">TEST</button>

        </div>
    </div>
</div>


<!-- ....................................... MODALS .............................................. -->
<!-- ................... CURRENTLY NOT IN USE... USING UI-BOOTSTRAP! ............................. -->
<div id="addEventModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">Agregar nuevo evento</h3>
            </div>
            <div class="modal-body">
                <form class="form-horizontal pad-sm" id="addEventForm" name="addEventForm" ng-submit="addEvent(newEvent)">
                    <div class="form-group">
                        <label class="form-label" for="txtTitle">Título</label>
                        <input type="text" class="form-control" id="txtTitle" placeholder="Ingrese el título del evento aquí" ng-model="newEvent.title" maxlength="100" required />
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 form-label" for="startDate">Fecha de Inicio</label>
                        <div class="col-xs-5">
                            <input class="form-control" type="date" id="startDate" ng-model="newEvent.startDate" required />
                        </div>
                        <div class="col-xs-4">
                            <input class="form-control" type="time" id="startTime" ng-model="newEvent.startTime" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 form-label" for="endDate">Fecha Final</label>
                        <div class="col-xs-5">
                            <input class="form-control" type="date" id="endDate" ng-model="newEvent.endDate" required />
                        </div>
                        <div class="col-xs-4">
                            <input class="form-control" type="time" id="endTime" ng-model="newEvent.endTime" required />
                        </div>
                    </div>

                    <div class="form-group">
                        <h5 class="col-xs-2 form-label" for="chkImportant">Importante</h5>
                        <div class="col-xs-2">
                            <input class="checkbox checkbox-inline" style="margin-top:4px;" type="checkbox" id="chkImportant" ng-model="newEvent.important" />
                        </div>
                    </div>

                    <div class="pad-sm"></div>

                    <button type="submit" class="btn btn-primary">Crear evento</button>
                    <button type="reset" class="btn btn-default">Limpiar</button>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>

    </div>
</div>

<div id="modifyEventModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">Modificar evento</h3>
            </div>
            <div class="modal-body">
                <form class="form-horizontal pad-sm" id="modifyEventForm" name="modifyEventForm" ng-submit="modifyEvent(modEvent)">
                    <div class="form-group">
                        <label class="form-label" for="txtTitle">Título</label>
                        <input type="text" class="form-control" id="txtTitle" placeholder="Ingrese el título del evento aquí" ng-model="modEvent.title" maxlength="100" required />
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 form-label" for="startDate">Fecha de Inicio</label>
                        <div class="col-xs-5">
                            <input class="form-control" type="date" id="startDate" ng-model="modEvent.startDate" required />
                        </div>
                        <div class="col-xs-4">
                            <input class="form-control" type="time" id="startTime" ng-model="modEvent.startTime" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 form-label" for="endDate">Fecha Final</label>
                        <div class="col-xs-5">
                            <input class="form-control" type="date" id="endDate" ng-model="modEvent.endDate" required />
                        </div>
                        <div class="col-xs-4">
                            <input class="form-control" type="time" id="endTime" ng-model="modEvent.endTime" required />
                        </div>
                    </div>

                    <div class="form-group">
                        <h5 class="col-xs-2 form-label" for="chkImportant">Importante</h5>
                        <div class="col-xs-2">
                            <input class="checkbox checkbox-inline" style="margin-top:4px;" type="checkbox" id="chkImportant" ng-model="modEvent.important" />
                        </div>
                    </div>

                    <div class="pad-sm"></div>

                    <button type="submit" class="btn btn-primary" data-dismiss="modal">Modificar evento</button>
                    <button type="button" class="btn btn-danger" ng-click="removeEvent(modEvent)" data-dismiss="modal">Eliminar evento</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>

    </div>
</div>

