<div class="container">
    <div class="row row-content">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" style="background-color:red;">
            <h5>Texto aquí</h5>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" style="background-color:green;">
            <h5>más texto</h5>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" style="background-color:blue;">
            <button class="btn btn-primary btn-xs">Botón</button>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-6 col-xs-12" style="background-color:gold;">
            <h2>Texto muy grande</h2>
        </div>
    </div>
</div>